<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nombre' %>
  </div>
	<p><%= @list.errors[:url].first%></p>

  <div class="form-actions">
    <%= f.button :submit, 'Crear lista'%>
  </div>
<% end %>