<p id="notice"><%= notice %></p>

<h1>Simple Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>State</th>
      <th>Priority</th>
      <th>Type</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simple_tasks.each do |simple_task| %>
      <tr>
        <td><%= simple_task.description %></td>
        <td><%= simple_task.state %></td>
        <td><%= simple_task.priority %></td>
        <td><%= simple_task.type %></td>
        <td><%= simple_task.list %></td>
        <td><%= link_to 'Show', simple_task %></td>
        <td><%= link_to 'Edit', edit_simple_task_path(simple_task) %></td>
        <td><%= link_to 'Destroy', simple_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simple Task', new_simple_task_path %>
