<h1>New Simple Task</h1>

<%= simple_form_for @simple_task, url: { :action => :create } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :state, collection: states %>
    <%= f.input :priority, collection: priorities %>
    <%= f.input :type %>
    <%= f.association :list %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
