<%= simple_form_for(@long_task, url: { :action => :create })  do |f| %>
  <%= f.error_notification %>
  

  <div class="form-inputs">
    <%= f.input :description, class:"string required", required: true %>
    <%= f.input :state, collection: ["pendiente", "en_curso", "hecha"], selected: "pendiente" %>
    <%= f.input :priority, collection: ["alta", "media", "baja"], selected: "baja"  %>
    <%= f.input :progress, collection: 0..100, prompt: "Progreso", selected: 0 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
