<%= simple_form_for(@long_task, url: list_long_task_path)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, label: 'Descripcion' %>
    <%= f.input :state, collection: states, label: "Estado" %>
    <%= f.input :priority, collection: priorities, label: "Prioridad" %>
    <%= f.input :progress, label: "Progreso" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
