<p id="notice"><%= notice %></p>

<h1>Long Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>State</th>
      <th>Priority</th>
      <th>Progress</th>
      <th>Type</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @long_tasks.each do |long_task| %>
      <tr>
        <td><%= long_task.description %></td>
        <td><%= long_task.state %></td>
        <td><%= long_task.priority %></td>
        <td><%= long_task.progress %></td>
        <td><%= long_task.type %></td>
        <td><%= long_task.list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
