<%= simple_form_for(@temporary_task, url: list_temporary_task_path ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :state, collection: states %>
    <%= f.input :priority, collection: priorities %>
    <%= f.input :start %>
    <%= f.input :finish %>
    <%= f.association :list %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
