<%= simple_form_for(@temporary_task, url: { :action => :create })do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, required: true %>
    <%= f.input :state, collection: states, selected: states.first %>
    <%= f.input :priority, collection: priorities, selected: priorities.first %>
    <%= f.input :start %>
    <%= f.input :finish %>
  </div>
<p>
  
</p>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

