<p id="notice"><%= notice %></p>

<h1>Temporary Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>State</th>
      <th>Priority</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Progress</th>
      <th>Type</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temporary_tasks.each do |temporary_task| %>
      <tr>
        <td><%= temporary_task.description %></td>
        <td><%= temporary_task.state %></td>
        <td><%= temporary_task.priority %></td>
        <td><%= temporary_task.start %></td>
        <td><%= temporary_task.finish %></td>
        <td><%= temporary_task.progress %></td>
        <td><%= temporary_task.type %></td>
        <td><%= temporary_task.list %></td>
        <td><%= link_to 'Show', temporary_task %></td>
        <td><%= link_to 'Edit', edit_temporary_task_path(temporary_task) %></td>
        <td><%= link_to 'Destroy', temporary_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporary Task', new_temporary_task_path %>
