<h1>Crear Tarea Temporal</h1>

<%= simple_form_for(@temporary_task, url: { :action => :create } )do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, label: "Descripcion" %>
    <%= f.input :state, laber: "Estado" %>
    <%= f.input :priority, collection: priorities, label: "Prioridad" %>
    <%= f.input :start, label: "Comienza" %>
    <%= f.input :finish, label: "Finaliza" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%=link_to 'Volver', @temporary_task.list  %>